@import './reset.scss';
@import "~@angular/material/prebuilt-themes/purple-green.css";



@import '~@angular/material/theming';
@import "./material.icons";

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config($font-family: 'Roboto',
$display-4: mat-typography-level(112px, 112px, 300),
$display-3: mat-typography-level(56px, 56px, 400),
$display-2: mat-typography-level(45px, 48px, 400),
$display-1: mat-typography-level(34px, 40px, 400),
$headline: mat-typography-level(24px, 32px, 400),
$title: mat-typography-level(20px, 32px, 500),
$subheading-2: mat-typography-level(16px, 28px, 400),
$subheading-1: mat-typography-level(15px, 24px, 400),
$body-2: mat-typography-level(14px, 24px, 500),
$body-1: mat-typography-level(14px, 20px, 400),
$caption: mat-typography-level(12px, 20px, 400),
$button: mat-typography-level(14px, 14px, 500),
$input: mat-typography-level(inherit, 1.125, 400));

@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

@include mat-core($custom-typography);


@import "./mat-variables.scss";
@import "./variables.scss";
@import "./palette.scss";


$primary: mat-palette($mat-black, 900);
$accent: mat-palette($mat-deep-orange, 500, A100, A400);
$warn: mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
// https://material.angular.io/guide/theming-your-components

// top, right, bottom, and left

html,
body {
  height: 100%;
  overflow-y: auto;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #EBF0F5;
}


.eshop-navigation-bar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
