<div class="checkout-container">
  <div>
    <img src="./../../../assets/images/tick-icon.png" class="success-icon"/>
    <h3>Order has been placed successfully!</h3>
    <p><span>Order Number:</span>XYE87845O2544</p>    
  </div>
  <div>
    <p>Product will be delivered to </p>
    <address>
      H.No. 1-87<br>
      Road No. 12 <br>
      Banjara hills, Hyderabad<br>
      India - 500035
    </address>
  </div>
  <div>
    <p>
      <button mat-button class="checkout-cart-btn" [routerLink]="['/products']" routerLinkActive="router-link-active" >View other products</button>
    </p>
  </div>
</div>