<mat-toolbar class="eshop-navigation-bar">
  <mat-toolbar-row>
    <button #eShopMenuButton class="eshop-menu-button" mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="app-details">
      <div class="eshop-logo">
        <img class="logo" [src]="imagePath" />
      </div>

      <span class="vertical-line"></span>
      <span class="toolbar-title"> {{ AppTitle }} </span>
    </div>
    <div class="component-list-container">
      <ul class="component-list-items">
        <li *ngFor="let component of ShopMainComponents" class="component-list-item" routerLinkActive
          #routerLinkActiveInstance="routerLinkActive" [class.component-item-active]="routerLinkActiveInstance.isActive"
          [routerLink]="[component.route]">
          {{component.title }}
        </li>
      </ul>
    </div>
    <div class="nav-list-items-container">
      <ul class="nav-list-items">
        <!-- Contact list item -->
        <li [routerLink]="[Cart.route]">
          <button mat-icon-button [disableRipple]="true">
            <mat-icon *ngIf="cartItems < 0">{{Cart.icon}}</mat-icon>
            <mat-icon *ngIf="cartItems>0" [matBadge]="cartItems" matBadgeColor="warn" matBadgeSize="medium" matBadgePosition="before">{{Cart.icon}}</mat-icon>
          </button>
        </li>
        <!-- Help list item -->
        <li>
          <button mat-icon-button (click)="openHelpPage()" [disableRipple]="true">
            <mat-icon>{{Help.icon}}</mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
